/DATA/
/.vscode/
__pycache__/
/cuda_conda/
/CLIP/
/Clip_caption_prefix/
/static/images/
ZSE-SBIR/
utils/__pycache__/
.env
/ZSE_SBIR/
/checkpoints/
/human_pose/
/test/
test.py
/static/sketch_query/sketch.jpg
/elasticsearch/
/unilm/
/models/