/DATA/
/.vscode/
__pycache__/
/cuda_conda/
/CLIP/
/Clip_caption_prefix/
/static/images/
.env
/ZSE_SBIR/
/checkpoints/
/human_pose/
test.py
/static/sketch_query/sketch.jpg
/elasticsearch/
/unilm/
class_name.json
/meili/
draw.py
image1.jpg
rectangles.txt
test0.py
/models/weights/
